<h1>Edit Income</h1>
<hr />

<div *ngIf="income">
    <form (ngSubmit)="onSubmit()" [formGroup]="editForm">
        <div>
            <div hidden>
                <input matInput placeHolder="IncomeId" formControlName="IncomeId" type="number" [value]="income.IncomeId" />
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="Description" type="text" [value]="income.Description" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Amount" formControlName="Amount" type="number" [value]="income.Amount" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Month" formControlName="Month" type="number" [value]="income.Info[0].Month" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Year" formControlName="Year" type="number" [value]="income.Info[0].Year" />
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button class="mat-raised-button" (click)="onSubmit">Save</button>

    </form>
</div>

<button mat-raised-button color="primary" routerLink="/Income">Back to Income List</button>