<h1>Edit Debt</h1>
<hr />

<div *ngIf="debt">
    <form (ngSubmit)="onSubmit()" [formGroup]="editDebtForm">
        <div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Company" formControlName="Company" type="text" required
                        [value]="debt.Company" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Description" formControlName="Description" type="text" required
                        [value]="debt.Description" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Amount" formControlName="Amount" type="number" required
                        [value]="debt.Amount" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Month" formControlName="Month" type="text" required
                        [value]="debt.Info[0].Month" />
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput placeholder="Year" formControlName="Year" type="number" required
                        [value]="debt.Info[0].Year" />
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button color="warn" (click)="onSubmit()">Save</button>
    </form>
</div>
<button mat-raised-button color="primary" routerLink="/debt">Back to List</button>