<!-- <mat-toolbar color="primary"> -->
<mat-toolbar>
    <span><a routerLink="/login"><img class="logo" src="../../../assets/img/redBadgeProject02tp.png" /></a></span>

    <span class="flex-filler">
        <button mat-button class="nav-link" routerLink="/Income">Budget</button>
        <button mat-button class="nav-link" routerLink="/Income">Income</button>
        <button mat-button class="nav-link" routerLink="/expenses">Expenses</button>
        <button mat-button class="nav-link" routerLink="/debt">Debt</button>
        <button mat-button class="nav-link" routerLink="/futureFun">Future Fun</button>
    </span>

    <button mat-button class="nav-btn" routerLink="/register">Register</button>
    <button mat-button class="nav-btn" routerLink="/login">Login</button>
</mat-toolbar>