<nav class="navbar navbar-expand-md bg-dark navbar-dark">

    <a routerLink="/login"><img class="logo" src="../../../assets/img/redBadgeProject02tp.png" /></a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/Monthly">Monthly</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/Income">Income</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/expenses">Expenses</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/futureFun">Future Fun</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link" routerLink="/debt">Debt</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isAdmin" role="Admin" class="nav-link" routerLink="/User">Users</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!isLoggedIn" class="nav-link red" routerLink="/register">Register</a>
            </li>
            <li class="nav-item">
                <a *ngIf="!isLoggedIn" class="nav-link red" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLoggedIn" class="nav-link red" (click)="authService.logout()" routerLink="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav>