<h1>Future Fun</h1>
<a mat-raised-button class="mat-raised-button" routerLink="/futureFun/create">Create New</a>
<hr />

<img class="happySadIcon" src="../../../../assets/img/futureFunGood.png" />

<div>
    <mat-table #table [dataSource]="dataSource">

        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let futureFun;">{{futureFun.Description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let futureFun;">{{futureFun.Amount}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Month">
            <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
            <mat-cell *matCellDef="let futureFun;">{{futureFun.Info[0].Month}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Year">
            <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
            <mat-cell *matCellDef="let futureFun;">{{futureFun.Info[0].Year}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef='buttons'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let futureFun;">
                <i class="material-icons" routerLink="/futureFun/edit/{{futureFun.FunId}}">edit</i>
                <i class="material-icons" routerLink="/futureFun/delete/{{futureFun.FunId}}">delete</i>
            </mat-cell>
        </ng-container>

    </mat-table>
</div>