<h1>Users</h1>

<div>
    <mat-table #table [dataSource]="dataSource">
        
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="OwnerId">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let Users;">{{Users.OwnerId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell *matCellDef="let Users;">{{Users.Email}}</mat-cell>
        </ng-container>

    </mat-table>
</div>