<h1>Income</h1>
<a mat-raised-button class="mat-raised-button" routerLink="/Income/create">Create New</a>
<hr />

<img class="happySadIcon" src="../../../../assets/img/incomeGood.png" />

<div>
    <mat-table #table [dataSource]="dataSource">
        
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.Description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef>number</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.number}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Month">
                <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
                <mat-cell *matCellDef="let Income;">{{Income.Info[0].Month}}</mat-cell>
            </ng-container>

        <ng-container matColumnDef="Year">
                <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
                <mat-cell *matCellDef="let Income;">{{Income.Info[0].Year}}</mat-cell>
            </ng-container>


        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let Income;">
                <i class="material-icons" routerLink="/Income/edit/{{Income.IncomeId}}">edit</i>
                <i class="material-icons" routerLink="/Income/delete/{{Income.IncomeId}}">delete</i>
            </mat-cell>
        </ng-container>

    </mat-table>
</div>
