<h1>Income</h1>
<a mat-raised-button class="nav-btn" routerLink="/Income/create">Create New</a>
<hr />

<div>
    <mat-table #table [dataSource]="dataSource">
        
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <!-- <ng-container matColumnDef="details">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let Income;">
                <i class="material-icons" routerLink="/Income/detail/{{Income.IncomeId}}">library_books</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="IncomeId">
            <mat-header-cell *matHeaderCellDef>IncomeId</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.IncomeId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="OwnerId">
            <mat-header-cell *matHeaderCellDef>OwnerId</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.OwnerId}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="Description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.Description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let Income;">{{Income.Amount}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Month">
                <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
                <mat-cell *matCellDef="let Income;">{{Income.Info[0].Month}}</mat-cell>
            </ng-container>

        <ng-container matColumnDef="Year">
                <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
                <mat-cell *matCellDef="let Income;">{{Income.Info[0].Year}}</mat-cell>
            </ng-container>


        <ng-container matColumnDef="buttons">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let Income;">
                <i class="material-icons" routerLink="/Income/edit/{{Income.IncomeId}}">edit</i>
                <i class="material-icons" routerLink="/Income/delete/{{Income.IncomeId}}">delete</i>
            </mat-cell>
        </ng-container>

    </mat-table>
</div>
