<h1>Your Income</h1>
<a mat-raised-button color="Primary">Create New</a>
<hr />

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-header-row *matRowDef="let row; columns: columnNames;"></mat-header-row>

        <ng-container matColumndef="details">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="Let Income">
                <i class="material-icons">library_books</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Title">
            <mat-header-cell *matHeaderCellDef>Owner Id</mat-header-cell>
            <mat-cell *matCellDef="let income;">{{Income.OwnerId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef=""
    
    </mat-table>
</div>
