<h1>Delete Future Fun</h1>
<h4>Are you sure you want to delete this Future Fun?</h4>
<hr />

<div class="delete" *ngIf="futureFun">
    <div>
        <label>Description:</label>
        <span>{{futureFun.Description}}</span>
    </div>
    <div>
        <label>Amount:</label>
        <span>{{futureFun.Amount}}</span>
    </div>
    <div>
        <label>Month:</label>
        <span>{{futureFun.Info[0].Month}}</span>
    </div>
    <div>
        <label>Year:</label>
        <span>{{futureFun.Info[0].Year}}</span>
    </div>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>

<br />
<button mat-button routerLink="/futureFun">Back to Future Fun List</button>