<h1>Register</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div>
        <div>
            <mat-form-field>
                <p>Email:</p>
                <input matInput formControlName="email" type="email" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Password:</p>
                <input matInput formControlName="password" type="password" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Confirm Password:</p>
                <input matInput formControlName="confirmPassword" type="password" required />
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button class="nav-btn" type="submit">Register</button>
</form>
