<h1>Expense Detail</h1>
<hr />

<div>
    <div>
        <label>Company:</label>
        <span>{{expenses.Company}}</span>
    </div>
    <div>
        <label>Description:</label>
        <span>{{expenses.Description}}</span>
    </div>
    <div>
        <label>Amount:</label>
        <span>{{expenses.Amount}}</span>
    </div>
    <div>
        <label>Month:</label>
        <span>{{expenses.Month}}</span>
    </div>
    <div>
        <label>Year:</label>
        <span>{{expenses.Year}}</span>
    </div>


    <button mat-raised-button>Edit</button>
</div>

<button mat-raised-button routerLink="/expenses">Back to Expenses List</button>
