<h1>New Expense</h1>
<hr />
<br />
<p>***Month must be a digit (1-12)***</p>
<form (ngSubmit)="onSubmit()" [formGroup]="expensesForm">
    <div>
        <div>
            <mat-form-field>
                <p>Company:</p>
                <input matInput formControlName="Company" type="Company" />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Description:</p>
                <input matInput formControlName="Description" type="Description" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Amount:</p>
                <input matInput formControlName="Amount" min="0" type="number" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Month:</p>
                <input matInput formControlName="Month" min="1" max="12" type="number" required/>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <p>Year:</p>
                <input matInput formControlName="Year" min="2015" type="number" required/>
            </mat-form-field>
        </div>
    </div>
    <button class="mat-raised-button" mat-raised-button type="submit">Create Expense</button>
</form>

<br />
<a mat-button routerLink="/expenses">Back to Expenses List</a>
