<h1>Create new Debt</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="debtForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Company" formControlName="Company" type="Company" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Description" formControlName="Description" type="Description" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Amount" formControlName="Amount" type="Amount" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Month" formControlName="Month" type="number" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Year" formControlName="Year" type="number" required />
            </mat-form-field>
        </div>        
    </div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Debt</button>
</form>

<a mat-button routerLink="/debt">Back to All Debts</a>